@import './brand.css';

section.chart {
  margin-top: 8px;
  padding-bottom: var(--baseline);
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-x: contain;
}

section.chart svg {
  padding-left: 32px;
}

@media (width > 700px) {
  section.chart svg {
    padding-left: 48px;
  }
}

.chart svg :global .wind-line path {
  stroke-width: 2;
  fill: none;
}
.chart svg :global .wind-line path.skipped-levels { stroke: var(--color-secondary-text); }
.chart svg :global .wind-line path.relevant-levels { stroke: var(--color-text); }

.chart svg :global .wind-fill.level-1 { fill: var(--color-level-1); }
.chart svg :global .wind-fill.level-2 { fill: var(--color-level-2); }
.chart svg :global .wind-fill.level-3 { fill: var(--color-level-3); }
.chart svg :global .wind-fill.level-4 { fill: var(--color-level-4); }
.chart svg :global .wind-fill.level-5 { fill: var(--color-level-5); }

.chart svg :global .week-days {
  color: var(--color-secondary-text);
}

.chart svg :global .week-days .domain {
  display: none;
}

.chart svg :global .axis {
  color: var(--color-secondary-text);
  font-size: var(--font-size-small);
}

.chart svg :global .axis path.domain,
.chart svg :global .axis .tick line {
  color: var(--color-line);
}

.chart svg :global .grid path.domain {
  display: none;
}

.chart svg :global .grid .tick line {
  color: var(--color-line);
}

.chart svg :global .daylight line {
  color: var(--color-line);
  opacity: 0.35;
}

.chart svg :global .daylight .domain {
  display: none;
}

.chart svg :global .darkness-overlay rect {
  fill: var(--color-mercury);
  mix-blend-mode: color;
  opacity: 0.86;
}

.chart svg :global .hover-target {
  fill: none;
  pointer-events: all;
}

.chart svg :global .hover-guide line {
  stroke: var(--color-romance);
  opacity: 0.45;
  stroke-width: 1px;
}

.chart svg :global .hover-guide .value circle {
  fill: var(--color-background);
  stroke: var(--color-text);
  stroke-width: 2px;
}

.chart svg :global .hover-guide .value .lvl,
.chart svg :global .hover-guide .value .date {
  font-weight: bold;
  stroke: var(--color-background);
  stroke-width: 5px;
}

.chart svg :global .hover-guide .value .lvl {
  font-size: var(--font-size-small);
}

.chart svg :global .hover-guide .value .date {
  fill: var(--color-secondary-text);
}

.chart svg :global .hover-guide .value text.level-1 { fill: var(--color-level-1-text); }
.chart svg :global .hover-guide .value text.level-2 { fill: var(--color-level-2-text); }
.chart svg :global .hover-guide .value text.level-3 { fill: var(--color-level-3-text); }
.chart svg :global .hover-guide .value text.level-4 { fill: var(--color-level-4-text); }
.chart svg :global .hover-guide .value text.level-5 { fill: var(--color-level-5-text); }


.chart svg :global .hover-guide .value .rect {
  width: 62;
  height: 138;
}

.chart svg :global .hover-guide .value .rect.level-1 { fill: var(--color-level-1-text); }
.chart svg :global .hover-guide .value .rect.level-2 { fill: var(--color-level-2-text); }
.chart svg :global .hover-guide .value .rect.level-3 { fill: var(--color-level-3-text); }
.chart svg :global .hover-guide .value .rect.level-4 { fill: var(--color-level-4-text); }
.chart svg :global .hover-guide .value .rect.level-5 { fill: var(--color-level-5-text); }

.chart svg :global .hover-guide .value text.score {
  font-size: var(--font-size-xl);
  font-weight: bold;
  fill: var(--color-romance);
}

.chart svg :global .hover-guide .time text {
  font-size: var(--font-size-small);
}

.chart svg :global .hover-guide .time path {
  stroke: var(--color-text);
  stroke-width: 1px;
}
