body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 36px;
  font-weight: 600;
  margin: 40px 32px 0;
}

h1 > * {
  vertical-align: middle;
}

h1 > svg {
  margin-right: 16px;
}

@media (min-width: 700px) {
  h1 {
    margin-left: 48px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
